*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_div{
    position: absolute;
    left: 45%;
    top: 45%;


}

.sub_div{
    border: 2px solid blue;
    padding: 10px;
    margin: 0 5px;
    height: 10vw;
    width: 10vw;
    position:relative;
    
}

#div1{
    background-color: cadetblue;
}
#div2{
    background-color: crimson;
    left: 20px;
    top: 40px;
}
#div3{
    background-color: bisque;
    left: 50px;
    top: 80px;
}
#div4{
    background-color: cornflowerblue;
    left: 100px;
    top: 120px;
}